.container {
  display: flex;
  justify-content: center;
}

.label {
  display: block;
  width: 30px;
  margin-right: 6px;
}

.input {
  display: block;
  flex-shrink: 1;
  margin: 0 6px;
}

.input[type="number"] {
  width: 80px;
}
